@media( max-width:480px) {
 .header-section {
    display: flex;
    flex-direction: column-reverse;
    }
    .half-width{
        width: 100%;
        padding: 0 0;
    }
    .right-contant {
        width: 80%;
        text-align: center;
    }
    .right-contant img {
        text-align: center;
    }

    .left-contant{
        text-align: center;
    }
    .left-contant {
        margin: 0 px;
    
    }
    .left-contant p {
        padding:  0 10%;
        text-align: justify;
    }
    /* dream section */
    .dream-section{
        display: flex;
    flex-direction: column-reverse;
    padding: 35px;
    }
    /* experiance section */
.experiance-section{
    display: flex;
    flex-direction: column;
    padding: 35px;
}  
.experiance-section h1{
    text-align: center;
}
.items {
    display: flex;
    flex-direction: column;
    padding: 20px;
gap: 20px;
}

}